<div class="app-custom-image-cropper-container">
    <div *ngIf="!displayProperty" id="imageUpload">
        <input type="file" (change)="fileChangeEvent($event)" />
    </div>

    <div class="imageCroppingDiv" *ngIf="displayProperty">
        <div class="imageCropperDiv">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="8 / 3"
                format="png" class="imageCropper" (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>

        <div class="imageDisplayDivFinalData">
            <mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" style="color: var(--default-theme);"></mat-progress-bar>
            <div class="imageDisplayDiv">     
                <h1>Cropped Image</h1>
                <img [src]="croppedImage" id="cropepdSlideshowImage"/>
            </div>

            <div class="imageDisplayDivFinalDataButtons">
                <button class="imageDisplayDivFinalDataResetButton custom-button1" (click)="resetCroppedImage()">Reset</button>
                <button class="imageDisplayDivFinalDataSaveButton custom-button1" (click)="uploadDashboardSlideshowImage()">Save</button>
            </div>
        </div>
    </div>
</div>