::ng-deep .mat-mdc-autocomplete-panel {
    padding: 0 0 !important;
}

.mat-mdc-autocomplete-panel,
div.mat-mdc-autocomplete-panel,
div.mat-mdc-select-panel, 
.mat-mdc-select-panel{
    padding: 0 0 !important;
    padding: 0 !important;
}

div.mat-mdc-select-panel, 
.mat-mdc-select-panel{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding: 0 !important;
}