<form class="example-form w-100" style="background-color: var(--white);">
  <mat-form-field class=" w-100" style="background-color: var(--white);">
    <mat-label>{{ariaLabel}}</mat-label>
    <input matInput [formControl]="myControl" [matAutocomplete]="auto" [attr.aria-placeholder]="ariaPlaceholder"
      [attr.aria-label]="ariaLabel" style="background-color: var(--white);" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option" style="background-color: var(--white);">{{option.text}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<!-- To call this component from another component
=========================================================================

another.component.html
--------------------------------------------------
<app-custom-single-select-searchable-dropdown 
    [options]=" dropdownOption" [ariaPlaceholder]="dropdownPlaceholder" [ariaLabel]="dropdownpLabel"
        (optionSelected)="handleOptionSelection($event)"></app-custom-single-select-searchable-dropdown>


        another.component.ts
        --------------------------------------------------
        import { CustomSingleSelectSearchableDropdownComponent } from
        '../../../common-component/custom-single-select-searchable-dropdown/custom-single-select-searchable-dropdown.component';

        @Component({
        selector: 'app-another',
        imports: [CustomSingleSelectSearchableDropdownComponent],
        templateUrl: './another.component.html',
        styleUrl: './another.component.css'
        })

        dropdownOption: string[] = ['One', 'Two', 'Three', 'Four'];
        dropdownPlaceholder: string = "Search/Select an item";
        dropdownpLabel: string = "Number selection";

        handleOptionSelection(event: any): void {
        console.log(event, " is selected");
        }

        =========================================================================
        -->