<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container w-100 mb-3">
    <h2 class="m-4 text-center">Download Excel To Generate Certificate</h2>

    <div class="row mb-3 mt-2 d-flex justify-content-between">
        <div class="col-12 col-md-6 mb-2">
            <!-- <app-custom-single-select-searchable-dropdown [options]="available_franchises"
                [ariaLabel]="'Select Franchise'" [selectedOptions]="null"
                (selectionChange)="handleFranchiseSelection($event)">
            </app-custom-single-select-searchable-dropdown> -->
            <app-custom-multi-select-dropdown *ngIf="available_franchises.length > 0"
                [dropdownLabel]="'Select Franchise'" [dropdownList]="available_franchises" [dropdownListSelected]="[]"
                (selectedItemsChanged)="handleSelectedFranchises($event)">
            </app-custom-multi-select-dropdown>
        </div>
    </div>

    <div class="mb-3 mt-2 d-flex justify-content-end">
        <button class="btn btn-primary" style="width: max-content;" matTooltipPosition="below" matTooltip="This excel contains information of those students whose marks have been uploaded and excel is not generated yet. 
                With the help of this excel, you can make certificate and upload further"
            (click)="GenerateAndDownloadExcelOfAllStudents()">Generate
            Excel</button>
    </div>

    <div>
        <h2 class="mt-5 text-center">Raised Ticket</h2>

        <div class="card-body d-flex justify-content-center align-items-center"
            *ngIf="all_raised_ticket_list.length === 0">
            <h5 class="mb-0">No Raised Ticket Found</h5>
        </div>

        <div id="raisedTicketCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false"
            *ngIf="all_raised_ticket_list.length > 0">
            <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_raised_ticket_list.length > 1">
                <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel"
                    data-bs-slide="prev">
                    <i class="bi bi-chevron-left" style="font-size: 1.3rem"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel"
                    data-bs-slide="next">
                    <i class="bi bi-chevron-right" style="font-size: 1.3rem"></i>
                </button>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_raised_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="fw-bold">Franchise Name :</span> {{ticket.franchise_name}}

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                            <span class="card-text mb-0"><span class="fw-bold">Remarks :</span>
                                {{ticket.remarks}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="border p-3 rounded-2" style="background-color: var(--light);">
        <div class="mb-3 mt-2">
            <label for="courseName">Student Registration Number<span class="text-danger">*</span></label>
            <input type="text" class="form-control mb-1" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="student_registration_number" required />
        </div>

        <div class="mt-5 d-flex justify-content-end">
            <button class="btn btn-primary" style="width: max-content;" matTooltipPosition="below"
                [disabled]="student_registration_number === null"
                matTooltip="This excel contains information of the student whose registration number you've typed above."
                (click)="GenerateAndDownloadExcelOfTypedStudent()">Download
                Excel To Generate Certificate</button>
        </div>
    </div>
</div>