<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container w-100 mb-3">
    <h2 class="m-4 text-center">Download Excel To Generate Certificate</h2>

    <div class="row g-lg-5 g-2 mb-2 align-items-center control_excel">
        <div class="col-12 col-md-6 d-flex gap-2 align-items-stretch single_search_field">
            <input type="text" class="form-control" [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="student_registration_number" placeholder="Student's Registration Number" required />

            <button class="btn btn-primary" [disabled]="student_registration_number === null || matProgressBarVisible"
                (click)="GenerateAndDownloadExcelOfTypedStudent()">
                Excel
            </button>
        </div>

        <div class="col-12 col-md-6">
            <app-custom-multi-select-dropdown *ngIf="available_franchises.length > 0"
                [dropdownLabel]="'Select Franchise'" [dropdownList]="available_franchises" [dropdownListSelected]="[]"
                (selectedItemsChanged)="handleSelectedFranchises($event)">
            </app-custom-multi-select-dropdown>
        </div>
    </div>


    <!-- Raised Ticket -->
    <div *ngIf="all_raised_ticket_list.length > 0">
        <div id="raisedTicketCarousel1" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{all_raised_ticket_list.length}} Raised Ticket</h3>

                <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_raised_ticket_list.length > 1">
                    <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel1"
                        [disabled]="matProgressBarVisible" data-bs-slide="prev">
                        <i class="bi bi-chevron-left" style="font-size: 1.3rem"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel1"
                        [disabled]="matProgressBarVisible" data-bs-slide="next">
                        <i class="bi bi-chevron-right" style="font-size: 1.3rem"></i>
                    </button>
                </div>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_raised_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>

                            <fa-icon class="icon btn_cursor_pointer text-primary cursor_pointer"
                                matTooltipPosition="above" matTooltip="Download Excel Of This Ticket"
                                [icon]="faDownload" (click)="DownloadExcelOfTicket(ticket._id)"
                                *ngIf="ticket.data_status === CertificateTicketStatus.ACCEPTED"></fa-icon>

                            <div *ngIf="ticket.data_status === CertificateTicketStatus.PENDING">
                                <button class="btn btn-danger btn-sm me-2" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.REJECTED)">Reject</button>
                                <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.ACCEPTED)">Accept</button>
                            </div>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="card-text mb-0"><span class="fw-bold">Franchise Name :</span>
                                {{ticket.franchise_name}}</span>

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Accepted Ticket -->
    <div *ngIf="all_accepted_ticket_list.length > 0">
        <div id="raisedTicketCarousel2" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{all_accepted_ticket_list.length}} Accepted Ticket</h3>

                <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_accepted_ticket_list.length > 1">
                    <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel2"
                        [disabled]="matProgressBarVisible" data-bs-slide="prev">
                        <i class="bi bi-chevron-left" style="font-size: 1.3rem"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel2"
                        [disabled]="matProgressBarVisible" data-bs-slide="next">
                        <i class="bi bi-chevron-right" style="font-size: 1.3rem"></i>
                    </button>
                </div>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_accepted_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>

                            <fa-icon class="icon btn_cursor_pointer text-primary cursor_pointer"
                                matTooltipPosition="above" matTooltip="Download Excel Of This Ticket"
                                [icon]="faDownload" (click)="DownloadExcelOfTicket(ticket._id)"
                                *ngIf="ticket.data_status === CertificateTicketStatus.ACCEPTED"></fa-icon>

                            <div *ngIf="ticket.data_status === CertificateTicketStatus.PENDING">
                                <button class="btn btn-danger btn-sm me-2" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.REJECTED)">Reject</button>
                                <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.ACCEPTED)">Accept</button>
                            </div>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="card-text mb-0"><span class="fw-bold">Franchise Name :</span>
                                {{ticket.franchise_name}}</span>

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Rejected Ticket -->
    <div *ngIf="all_rejected_ticket_list.length > 0">
        <div id="raisedTicketCarousel3" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{all_rejected_ticket_list.length}} Rejected Ticket</h3>

                <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_rejected_ticket_list.length > 1">
                    <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel3"
                        [disabled]="matProgressBarVisible" data-bs-slide="prev">
                        <i class="bi bi-chevron-left" style="font-size: 1.3rem"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel3"
                        [disabled]="matProgressBarVisible" data-bs-slide="next">
                        <i class="bi bi-chevron-right" style="font-size: 1.3rem"></i>
                    </button>
                </div>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_rejected_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>

                            <fa-icon class="icon btn_cursor_pointer text-primary cursor_pointer"
                                matTooltipPosition="above" matTooltip="Download Excel Of This Ticket"
                                [icon]="faDownload" (click)="DownloadExcelOfTicket(ticket._id)"
                                *ngIf="ticket.data_status === CertificateTicketStatus.ACCEPTED"></fa-icon>

                            <div *ngIf="ticket.data_status === CertificateTicketStatus.PENDING">
                                <button class="btn btn-danger btn-sm me-2" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.REJECTED)">Reject</button>
                                <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.ACCEPTED)">Accept</button>
                            </div>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="card-text mb-0"><span class="fw-bold">Franchise Name :</span>
                                {{ticket.franchise_name}}</span>

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                            <span class="card-text mb-0"><span class="fw-bold">Remarks :</span>
                                {{ticket.remarks}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Processing Ticket -->
    <div *ngIf="all_processing_ticket_list.length > 0">
        <div id="raisedTicketCarousel4" class="carousel slide" data-bs-ride="false" data-bs-interval="false"
            *ngIf="all_processing_ticket_list.length > 0">

            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{all_processing_ticket_list.length}} Processing Ticket</h3>

                <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_processing_ticket_list.length > 1">
                    <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel4"
                        [disabled]="matProgressBarVisible" data-bs-slide="prev">
                        <i class="bi bi-chevron-left" style="font-size: 1.3rem"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel4"
                        [disabled]="matProgressBarVisible" data-bs-slide="next">
                        <i class="bi bi-chevron-right" style="font-size: 1.3rem"></i>
                    </button>
                </div>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_processing_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>

                            <fa-icon class="icon btn_cursor_pointer text-primary cursor_pointer"
                                matTooltipPosition="above" matTooltip="Download Excel Of This Ticket"
                                [icon]="faDownload" (click)="DownloadExcelOfTicket(ticket._id)"
                                *ngIf="ticket.data_status === CertificateTicketStatus.ACCEPTED"></fa-icon>

                            <div *ngIf="ticket.data_status === CertificateTicketStatus.PENDING">
                                <button class="btn btn-danger btn-sm me-2" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.REJECTED)">Reject</button>
                                <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.ACCEPTED)">Accept</button>
                            </div>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="card-text mb-0"><span class="fw-bold">Franchise Name :</span>
                                {{ticket.franchise_name}}</span>

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Completed Ticket -->
    <div *ngIf="all_completed_ticket_list.length > 0">
        <div id="raisedTicketCarousel5" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{all_completed_ticket_list.length}} Completed Ticket</h3>

                <div class="d-flex justify-content-end mt-2 mb-3" *ngIf="all_completed_ticket_list.length > 1">
                    <button class="btn btn-outline-secondary me-2" type="button" data-bs-target="#raisedTicketCarousel5"
                        [disabled]="matProgressBarVisible" data-bs-slide="prev">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-target="#raisedTicketCarousel5"
                        [disabled]="matProgressBarVisible" data-bs-slide="next">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>


            <div class="carousel-inner slider_custom">
                <div *ngFor="let ticket of all_completed_ticket_list; let i = index" class="carousel-item"
                    [class.active]="i === 0">

                    <div class="card existing_ticket w-100 mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold text-secondary p-0 m-0">{{ticket.ticket_number}}</h5>

                            <fa-icon class="icon btn_cursor_pointer text-primary cursor_pointer"
                                matTooltipPosition="above" matTooltip="Download Excel Of This Ticket"
                                [icon]="faDownload" (click)="DownloadExcelOfTicket(ticket._id)"
                                *ngIf="ticket.data_status === CertificateTicketStatus.ACCEPTED"></fa-icon>

                            <div *ngIf="ticket.data_status === CertificateTicketStatus.PENDING">
                                <button class="btn btn-danger btn-sm me-2" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.REJECTED)">Reject</button>
                                <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                                    (click)="AcceptRejectTicket(ticket._id, CertificateTicketStatus.ACCEPTED)">Accept</button>
                            </div>
                        </div>
                        <div
                            class="card-body p-2 padding_raised_ticket_info d-flex justify-content-between flex-column">

                            <span class="card-text mb-0"><span class="fw-bold">Ticket ID :</span>
                                {{ticket.ticket_id}}</span>

                            <span class="card-text mb-0"><span class="fw-bold">Franchise Name :</span>
                                {{ticket.franchise_name}}</span>

                            <span class="card-text mb-0">
                                <span class="fw-bold">Status : </span>
                                <span
                                    [ngClass]="
                                    ticket.data_status === CertificateTicketStatus.PENDING ? 'text_card_idle' :
                                    ticket.data_status === CertificateTicketStatus.ACCEPTED ? 'text_card_success' :
                                    ticket.data_status === CertificateTicketStatus.REJECTED ? 'text_card_danger' :
                                    ticket.data_status === CertificateTicketStatus.PROCESSING ? 'text_card_deleted' :'text_card_primary'">
                                    {{ GetVerificationStatusLabel(ticket.data_status) }}
                                </span>
                            </span>

                            <span class="card-text mb-0"><span class="fw-bold">Raised At :</span>
                                {{FormatDateTime(ticket.created_at)}}</span>
                        </div>

                        <div class="eligible_student_list_table_parent padding_raised_ticket_student_info">
                            <div class="eligible_student_list_table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Student Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of ticket.student_list">
                                            <td>{{student.registration_number}}</td>
                                            <td>{{student.student_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>