<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container mt-4">
    <h2 class="m-4 text-center">Apply Franchises</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)">
                <!-- Step 1 -->
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>
                            <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 0 }">Center Head
                                Details</span>
                        </ng-template>
                        <div class="row mb-2 d-flex justify-content-end">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Center Head Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Center Head Name">
                            </div>

                            <div class="col-12 col-md-6">
                                <!-- <label class="form-label mb-1">Gender <span class="text-danger">*</span></label> -->
                                <app-custom-single-select-searchable-dropdown [options]="dropdownOption"
                                    [ariaPlaceholder]="'Search/Select Gender'" [ariaLabel]="'Gender selection'"
                                    (optionSelected)="handleGenderSelection($event)">
                                </app-custom-single-select-searchable-dropdown>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Center Head Contact Number <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Center Head Contact Number">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Center Head Email ID<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-2" placeholder="Type Center Head Email ID">
                            </div>
                        </div>

                        <hr>

                        <div class="row mb-2">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">State <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type State">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">District <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type District">
                            </div>
                        </div>

                        <div class="row mb-2 mt-3">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Post Office <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Post Office">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Police Station <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Police Station">
                            </div>
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Village/City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Village/City">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Pin Code <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Pin Code">
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="custom-button1">Reset</button>
                            <button matStepperNext class="custom-button1">Next</button>
                        </div>
                    </form>
                </mat-step>

                <!-- Step 2 -->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>
                            <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 1 }">Center Details</span>
                        </ng-template>

                        <div class="row mb-2">
                            <div class="col-12 col-md-6 mb-2 w-100">
                                <label class="form-label mb-1">Center Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Center Name">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Center Contact Number <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Center Contact Number">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Center Email ID<span class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-2" placeholder="Type Center Email ID">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-12 col-md-6 mb-2">
                                <app-custom-multi-select-dropdown [dropdownLabel]="'Select Center Category'"
                                    [dropdownList]="AvilableCourses"
                                    (selectedItemsChanged)="handleSelectedCourses($event)">
                                </app-custom-multi-select-dropdown>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-custom-single-select-searchable-dropdown *ngIf="AvilableCenterTypes.length > 0"
                                    [options]="AvilableCenterTypes" [ariaPlaceholder]="'Search/Select Center Type'"
                                    [ariaLabel]="'Center Type selection'"
                                    (optionSelected)="handleCenterTypeSelection($event)">
                                </app-custom-single-select-searchable-dropdown>
                            </div>
                        </div>

                        <hr>

                        <div class="form-check mb-2">
                            <label class="form-label mb-1">Check here if center address is same as center head
                                address</label>
                            <input class="form-check-input" type="checkbox" (change)="onCheckboxChange($event)">
                        </div>

                        <div *ngIf="!CenterAddressStatus" class="row mb-2">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">State <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type State">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">District <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type District">
                            </div>
                        </div>

                        <div *ngIf="!CenterAddressStatus" class="row mb-2 mt-3">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Post Office <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Post Office">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Police Station <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Police Station">
                            </div>
                        </div>

                        <div *ngIf="!CenterAddressStatus" class="row mb-3 mt-3">
                            <div class="col-12 col-md-6 mb-2">
                                <label class="form-label mb-1">Village/City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Village/City">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label mb-1">Pin Code <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Type Pin Code">
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="custom-button1">Reset</button>

                            <div class="d-flex justify-content-around">
                                <button class="custom-button1 stepper_button_of_middle" matStepperPrevious>Back</button>
                                <button class="custom-button1" matStepperNext>Next</button>
                            </div>
                        </div>
                    </form>
                </mat-step>

                <!-- Step 3 -->
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>
                            <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 2 }">Documents</span>
                        </ng-template>

                        <div class="row mb-3 mt-3">
                            <div class="col-12 col-md-4 mb-2">
                                <label class="form-label mb-1">Center Head Photo (jpg/jpeg/png) <span
                                        class="text-danger">*</span></label>
                                <input type="file" class="form-control" accept="image/jpeg,image/jpg,image/png">
                            </div>
                            <div class="col-12 col-md-4 mb-2">
                                <label class="form-label mb-1">Center Head Signature (jpg/jpeg/png) <span
                                        class="text-danger">*</span></label>
                                <input type="file" class="form-control" accept="image/jpeg,image/jpg,image/png">
                            </div>
                            <div class="col-12 col-md-4 mb-2">
                                <label class="form-label mb-1">Supportable Document (PDF) <span
                                        class="text-danger">*</span></label>
                                <input type="file" class="form-control" accept="application/pdf">
                            </div>
                        </div>


                        <div class="d-flex justify-content-between">
                            <button class="custom-button1" matStepperPrevious>Back</button>

                            <div class="d-flex justify-content-around">
                                <button class="custom-button1 stepper_button_of_middle">Reset</button>
                                <button class="custom-button1" matStepperNext>Submit</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>