<div class="container mt-4">
    <h2 class="m-4 text-center">Apply Franchises</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Center Head Details</ng-template>
                        <div class="flex-grow-1">
                            <label class="form-label mb-1">Center Head Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Type Center Head Name">
                        </div>
                        <div class="flex-grow-1 mt-1">
                            <label class="form-label mb-1">Gender<span class="text-danger">*</span></label>
                            <app-custom-single-select-searchable-dropdown [options]="dropdownOption"
                                [ariaPlaceholder]="dropdownPlaceholder" [ariaLabel]="dropdownpLabel"
                                (optionSelected)="handleOptionSelection($event)"></app-custom-single-select-searchable-dropdown>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Reset</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Center Details</ng-template>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperPrevious>Reset</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Documents</ng-template>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperPrevious>Reset</button>
                            <button mat-button matStepperNext>Submit</button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>