<h5 class="tandc_header">Terms & Conditions</h5>

<div class="tandc_container">
    <div class="tandc_container_child">
        <ol>
            <li>That I/We, have established/ opened the Centre at mentioned address. If I want to change the location of
                my
                center in the future, I will definitely let you know.</li>
            <li>Name of my/our center will be as per my input. If we want to change the name of the center in the
                future, we
                will definitely let you know.</li>
            <li>That I/We, have established/opened above mentioned Center/Institute/NGO from today.</li>
            <li>That I/We have fulfilled all requirements to run authorized (Software Zone/Hardware Zone/Vocational
                Zone/Drawing
                Center/Coaching Institute/Beauty Center/Spoken English Center/All Course) Centre/s under Education
                Carefully
                Institute (An I.T & Vocational Training Program – WB) in my/our center/Institute/NGO/Company.</li>
            <li>That Education Carefully Institute shall issue authorization to run abovementioned zone/s courses, for
                above
                mentioned single location/address of my/our center & the same authorization shall not be applicable to
                my/our
                franchise/branch at different locations. For this I/we shall separately submit a new application for
                center
                authorization for that franchise/branch at different location/address. The Branch should not deal with
                any other
                organization on behalf of itself.</li>
            <li>That I/We will not issue any certificate in the name of Education Carefully Institute nor will I get any
                registration issued by any other institution/Company/Brand/Govt./NGO/Society (nor in any other way) in
                the name
                of Education Carefully Institute nor will I apply for any government scheme/Loan in the name of
                Education
                Carefully Institute.</li>
            <li>That I/We shall remain liable for every due towards Education Carefully Institute in every circumstance.
            </li>
            <li>That Education Carefully Institute has no sharing in student Admission fee/tuition fee/exam fee & all
                said fees
                will be prescribed/decided by me/our center as per investment, infrastructure facilities, student &
                teacher
                ratio, backwardness & geographical condition of my/our area. Education Carefully Institute shall not be
                held
                responsible if any dispute arises for said fees & I/We shall be solely liable for the same. Education
                Carefully
                Institute shall charge one-time nominal registration fee as per the duration of course/s per student/s.
            </li>
            <li>That Education Carefully Institute shall not invest/has not invested in my center/Institute set up. So
                all
                investments, expenses and formalities relating to operation of my/our center shall be managed & borne by
                me/us
                such as computer systems, center furniture, center teacher’s salary, center building
                (rented/self-owned),
                building related security, first aid kit & Fire & Safety Tools Etc., educational legal Software’s Center
                Audit,
                Center ITR, Center Taxes (all types), local level NOC (panchayat, Municipality, state Govt. or any
                Education
                Department etc.).</li>
            <li>That I/we shall get student/s training certificate via post at my/our center/postal center/postal
                address, which
                are certified/issued under I.T Vocational Training Program of Education Carefully Institute.</li>
            <li>That all types of payments paid, to be paid to Education Carefully Institute, shall not be refundable in
                any
                case, whatsoever. Any types of fee will not be refundable in any circumstances. If a student leaves the
                class in
                the middle his/her entire fee will be adjusted to the next student.</li>
            <li>That Education Carefully Institute shall not be liable for any commitment or any advertisement or
                tie-up, with
                students, govt., corporate, universities, public & other organizations of same nature, which I/We run on
                my/our
                personal level in my/our center.</li>
            <li>That I/We found involved in any criminal, financial, social or any other offence then the authorization
                of
                my/our center shall automatically come to an end.</li>
            <li>That the authorization of my/our center/Institute/NGO shall be valid from (Today Date) & the same shall
                be
                renewed in the month of March every year (before 31st of said Month) if I/we fulfil the condition
                applied for
                the said renewal.</li>
            <li>That Education Carefully Institute shall have full right to update/modify/change/add any rules &
                regulations
                pertaining to my/our center association/authorization/activation with Education Carefully Institute.
            </li>
            <li>That I/We have read and understood the rules & regulations of the Education Carefully Institute & accept
                the
                same. In case of infringement/noncompliance by me/us of any rules & regulations made in any
                application/form/document/file/webpages of www.educarecenter.in, Education Carefully Institute shall
                have full
                right to take decision upon further activation/authorization of my/our center & in this regard, their
                decision
                shall be acceptable to me/us. Education Carefully Institute shall have full right to
                update/modify/change/add
                any rules & regulations pertaining to my/our center association/fee structure/authorization/activation
                with
                Education Carefully Institute.</li>
            <li>All the data regarding the branch office should be sent to the Education Carefully Institute head office
                in
                Excel sheet format before 1st of every month. All the dues should be submitted in the head office before
                10th of
                every month & at least 30 admissions should be done in financial year and I/we agree with this.</li>
            <li>ID-Cards are compulsory for teachers as well as for students.</li>
            <li>That any Center Head (Branch) will not create any page on social sites in the name of Education
                Carefully
                Institute / EDUCARE & not create any website with the name of Education Carefully Institute / EDUCARE
                Computer /
                EDUCARE India / Education Carefully Institute Vocational / Educare Institute / Educare Tuition /
                Education
                Carefully Academy / EDUCARE. If any center is found to be doing this, then its franchise will be
                canceled &
                legal action will be taken against them. I/We agree with this. That I will not steal/copy any data
                (photos,
                content, graphics, designing, plans, courses) from the Education Carefully Institute website and not use
                it on
                my website or social media website. If I do so, Education Carefully Institute can cancel my franchise
                without
                notice and take legal action against me in accordance with the Copyright Act and the Trademark Act.</li>
            <li>If any person is found guilty in any wrongdoing in the branch, then the Branch Head will be responsible
                for
                those wrongdoings and the head office will not take any responsibility for those offences.</li>
            <li>That the teacher’s documents will be submitted to the head office along with the joining letter. That
                the head
                office has every right to use my institute’s photo on its website/social sites for advertising purposes
                and the
                head office will also have full right to send SMS and email related to fees.</li>
            <li>That the student document verification/student training fee/student’s complete information will be
                submitted by
                me at the time of exam & I will be responsible for student’s attendance, assessment, practical, study,
                exam &
                student document verification.</li>
            <li>I confirm that all the courses run by Education Carefully Institute are run for self-employment. The
                validation
                of the Training Certificate depends on the rules and regulations of the concerned department.</li>
            <li>That I shall submit the Monthly Report of my Study Center by the 1st of every month. If this is not done
                by me
                then Education Carefully Institute can take action as per its policy. I am responsible for verifying my
                center.
                Education Carefully Institute team can verify my center anytime during working hours.</li>
            <li>That I confirm the distance from one institute to another will be 3 kilometers inside the village & 1
                kilometer
                in the urban area. I confirm there are no other study centers in our area before sending the
                registration
                form/renewal form.</li>
            <li>That courses can be added or removed from the panel as per the marketing trends.</li>
            <li>That Education Carefully Institute can use the photo of its Study Center/Center Student/Center head for
                advertising purposes on the website, Facebook, and other social accounts. No study center can claim any
                kind
                (Copyright/Trademark etc.), neither at the time of registration of the center nor after the closure of
                the
                center.</li>
        </ol>

        <span>Only after complete satisfaction this declaration is being made which can be used for legal purpose as and
            when
            necessary, against me/us In the event of any dispute/matter, it will be settled by the committee appointed
            by the
            Education Carefully Institute & its decision will be binding on all concerned or at the court West Bengal
            (WB) &
            I/we will be liable to all the expenses.</span>
        <br><br>
        <span>Therefore, I/we hereby declare & accept that the information furnished in the this Declaration from and
            the
            information furnished in the Application for Center Authorization & Center head Profile for running courses
            under
            I.T, Vocational, Art and Culture Training programmer of Education Carefully Institute are true to the best
            of my/our
            knowledge and belief and & will remain in force, binding & acceptable on me/ us, my/ our center’s
            association with
            the Education Carefully Institute.</span>
    </div>
</div>

<div class="tanc_checkbox_div">
    <input class="checkbox_tandc" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="IsChecked"
        (change)="onCheckboxChange($event)">

    <label class="form-label m-0 p-0">By clicking here, I state that I have read and understood the terms and conditions.</label>
</div>