<mat-form-field class="full-width">
  <mat-label>{{ defaultPlaceholder }}</mat-label>
  <input matInput 
    [matDatepicker]="picker" 
    [value]="selectedDate" 
    (dateChange)="onDateChange($event)" 
    [matDatepickerFilter]="dateFilter"
    placeholder="DD/MM/YYYY"
    readonly>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker 
    #picker 
    [startAt]="selectedDate || defaultDate || today"
    [touchUi]="false"
    panelClass="custom-datepicker">
  </mat-datepicker>
</mat-form-field>