::ng-deep .mat-calendar-body-selected{
    background-color: var(--light-blue) !important;
    color: white !important;
}

.mat-calendar-body-selected{
    background-color: var(--light-blue) !important;
    color: white !important;
}