<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible"
                class="matProgressBar"></mat-progress-bar>
  <h2 class="mb-4 text-center">Enums Search Customization</h2>

  <!-- Search Section with Dropdown -->
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="input-group">
        <select class="form-select slate-dropdown" [(ngModel)]="selectedEnumName">
          <option value="" disabled selected>Select an Enum</option>
          <option *ngFor="let enumName of enumNames" [value]="enumName">
            {{ enumName }}
          </option>
        </select>
        <button class="btn search-btn" (click)="filterEnums()">
          <fa-icon [icon]="faSearch"></fa-icon> Search
        </button>
      </div>
    </div>
  </div>


  <!-- Search Results Section -->
  <div *ngIf="selectedEnumName && searchResults.length > 0" class="mt-4">
    <h3 class="text-center">Search Results</h3>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let enumItem of searchResults; let i = index">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
              {{ i + 1 }} - {{ enumItem.enum_name }}
            </h5>
            <p class="card-text"><strong>Value:</strong> {{ enumItem.enum_value }}</p>
            <p class="card-text">
              <strong>Status:</strong>
              <span [ngClass]="{
                'text-success': enumItem.data_status === 'ACTIVE',
                'text-danger': enumItem.data_status === 'INACTIVE'
              }">
                <b> {{ enumItem.data_status }}</b>
              </span>
            </p>
            <p class="card-text"><strong>ID:</strong> {{ enumItem._id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="mb-4 text-center">Available Enums</h2>
  <!-- All Enums List -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let enumItem of enums; let i = index">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
            {{ i + 1 }} - {{ enumItem.enum_name }}
          </h5>
          <p class="card-text"><strong>Value:</strong> {{ enumItem.enum_value }}</p>
          <p class="card-text">
            <strong>Status:</strong>
            <span [ngClass]="{
                'text-success': enumItem.data_status === 'ACTIVE',
                'text-danger': enumItem.data_status === 'INACTIVE'
              }">
              <b> {{ enumItem.data_status }}</b>
            </span>
          </p>
          <p class="card-text"><strong>ID:</strong> {{ enumItem._id }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <p *ngIf="isLoading">Loading...</p>
  </div>
</div>
