.dashboard_information_update_container{
    width: 95%; 
    height: max-content; 
    margin: 0 auto; 
    padding: 1rem 0rem;
}

.dashboard_slideshow_image_update_container{
    width: 100%; 
}

.dashboard_existing_slideshow{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--default-theme);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--light1);
    overflow: hidden;
}

.dashboard_existing_slideshow h1{
    color: var(--default-theme);
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    text-align: center;
}

.dashboard_existing_slideshow_image{
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
    width: 100%;
    justify-content: space-around;
}

.a_dashboard_existing_slideshow_image{
    width: 33.333%;
    height: max-content;
    position: relative;
    overflow: hidden;
}

.a_dashboard_existing_slideshow_image:not(:last-child){
    margin-right: 1rem;
}

.a_dashboard_existing_slideshow_image_element{
    width: 100%;
    border: 2px solid var(--default-theme);
    border-radius: 0.5rem;
}

.image_cross_icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 2rem;
    background-color: var(--white);
    height: 2rem;
    border-radius: 50px;
    cursor: pointer;
}

.image_cross_icon img{
    width: 100%;
}

@media (max-width: 768px){
    .dashboard_information_update_container{
        padding: 0.5rem 0rem;
    }

    
    .dashboard_existing_slideshow h1{
        font-size: 1.3rem;
    }

    .dashboard_existing_slideshow_image{
        margin-top: 0.5rem;
        flex-direction: column;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
    
    .a_dashboard_existing_slideshow_image{
        width: 100%;
        margin-bottom: -0.3rem;
    }

    .a_dashboard_existing_slideshow_image:first-child{
        margin-top: -0.5rem;
    }

    .a_dashboard_existing_slideshow_image:not(:first-child){
        margin-top: 0.5rem;
    }

    .image_cross_icon{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 1.7rem;
        background-color: var(--white);
        height: 1.7rem;
        border-radius: 50px;
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 1000px){

}