<div class="dashboard_information_update_container">
    <div class="dashboard_slideshow_image_update_container">

        <div class="dashboard_existing_slideshow">
            <h1>Existing Slideshow Images</h1>

            <div class="dashboard_existing_slideshow_image">
                <div *ngFor="let image of images" class="a_dashboard_existing_slideshow_image">
                    <div *ngIf="image.fileStream !== null" class="image_cross_icon" (click)="deleteDashboardSlideshowImage(image)">
                        <img src="icon/cross.svg">
                    </div>
                    
                    <img [src]="image.fileStream">
                </div>
            </div>
        </div>
    
        <app-home-slideshow-update></app-home-slideshow-update>
    </div>
</div>