<div class="modal-image-slider">
    <mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

    <div class="slider-container" *ngIf="allImageRendered">
        <div class="slides-wrapper">
            <img *ngFor="let image of images; let i = index" [src]="image.fileStream"
                [@fadeAnimation]="currentIndex === i" class="slider-image" alt="Image Slider">
        </div>
        <div class="indicators" *ngIf="images.length > 1">
            <span *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
            </span>
        </div>
    </div>
</div>