<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container">
    <h2 class="m-4 text-center">Update Master Data</h2>

    <div class="row justify-content-center">
        <div class="col-md-10 mx-auto">
            <div class="d-flex flex-column justify-content-center w-100">
                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">Email ID<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Type Email id">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="saveEmail()" [disabled]="matProgressBarVisible">Save</button>
                </div>

                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">Primary Phone Number<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="phone1" placeholder="Type Primary Phone Number">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="savePhone1()" [disabled]="matProgressBarVisible">Save</button>
                </div>

                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">Secondary Phone Number<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="phone2" placeholder="Type Secondary Phone Number">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="savePhone2()" [disabled]="matProgressBarVisible">Save</button>
                </div>

                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">Facebook URL<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="facebook" placeholder="Type Facebook URL">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="saveFacebook()" [disabled]="matProgressBarVisible">Save</button>
                </div>

                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">YouTube URL<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="youtube" placeholder="Type YouTube URL">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="saveYoutube()" [disabled]="matProgressBarVisible">Save</button>
                </div>

                <div class="input-group d-flex flex-row align-items-end mb-3 w-100">
                    <div class="flex-grow-1">
                        <label class="form-label mb-1">WhatsApp URL<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="whatsapp" placeholder="Type WhatsApp URL">
                    </div>
                    <button class="btn btn-primary" type="button" (click)="saveWhatsapp()" [disabled]="matProgressBarVisible">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>