<div class="container">
    <h2 class="m-4 text-center">Update Master Data</h2>

    <div class="row justify-content-center">
        <div class="col-md-10 mx-auto">
            <div class="d-flex flex-column justify-content-center w-100">
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Org's email id">
                    <button class="btn custom-btn1" type="button" (click)="saveEmail()">Save</button>
                </div>

                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" [(ngModel)]="phone1" placeholder="Org's phone no.">
                    <input type="text" class="form-control" [(ngModel)]="phone2" placeholder="Org's alternative phone no.">
                    <button class="btn custom-btn1" type="button" (click)="savePhone()">Save</button>
                </div>

                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" [(ngModel)]="facebook" placeholder="Org's facebook">
                    <button class="btn custom-btn1" type="button" (click)="saveFacebook()">Save</button>
                </div>

                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" [(ngModel)]="youtube" placeholder="Org's youtube">
                    <button class="btn custom-btn1" type="button" (click)="saveYoutube()">Save</button>
                </div>

                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" [(ngModel)]="whatsapp" placeholder="Org's whatsapp">
                    <button class="btn custom-btn1" type="button" (click)="saveWhatsapp()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
