<div class="body">
  <div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="student">
				<form>
					<label for="chk" aria-hidden="true">Student</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="franchise">
        <input type="checkbox" id="chk1" aria-hidden="true">
				<form>
					<label for="chk" aria-hidden="true">Franchise</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>

        <div class="admin">
          <form>
            <label for="chk1" aria-hidden="true">Admin</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button>Login</button>
          </form>
        </div>
			</div>
	</div>
</div>
