<div class="container">
  <h2 class="mb-4 text-center">Enums List</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let enumItem of enums; let i = index">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
            {{ i + 1 }} - {{ enumItem.enum_name }}
          </h5>
          <p class="card-text"><strong>Value:</strong> {{ enumItem.enum_value }}</p>
          <p class="card-text">
            <strong>Status:</strong>
            <span
              [ngClass]="{
                'text-success': enumItem.data_status === 'ACTIVE',
                'text-danger': enumItem.data_status === 'INACTIVE'
              }"
            >
              <b> {{ enumItem.data_status }}</b>
            </span>
          </p>
          <p class="card-text"><strong>ID:</strong> {{ enumItem._id }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <p *ngIf="isLoading">Loading...</p>
  </div>
</div>
