<mat-form-field appearance="fill" class="w-100">
    <mat-label>{{ dropdownLabel }}</mat-label>

    <mat-select [formControl]="selectedItems" multiple style="background-color: var(--white);">
        <!-- Select All with dummy value -->
        <div style="background-color: var(--white); padding-left: 1rem;">
            <button (click)="toggleSelectAll()" [value]="'__select_all__'" [disabled]="itemList.length === 0"
                class="btn btn-primary mb-2 mt-2">
                {{ isAllSelected() ? 'Deselect All' : 'Select All' }}
            </button>
        </div>

        <mat-divider></mat-divider>

        <!-- Regular options -->
        <mat-option *ngFor="let item of itemList" [value]="item" style="background-color: var(--light);">
            {{ item.text }}
        </mat-option>
    </mat-select>
</mat-form-field>