<mat-form-field appearance="fill" class="w-100">
    <mat-label>{{ dropdownLabel }}</mat-label>

    <mat-select [formControl]="selectedItems" multiple>
        <!-- Select All with dummy value -->
        <mat-option (click)="toggleSelectAll()" [value]="'__select_all__'" [disabled]="itemList.length === 0"
            style="background-color: var(--white);">
            {{ isAllSelected() ? 'Deselect All' : 'Select All' }}
        </mat-option>

        <mat-divider></mat-divider>

        <!-- Regular options -->
        <mat-option *ngFor="let item of itemList" [value]="item" style="background-color: var(--white);">
            {{ item }}
        </mat-option>
    </mat-select>
</mat-form-field>