<div class="card">
    <mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>
    <h5 class="card-header pt-3 pb-3 fw-bold">Center Head Details</h5>

    <div class="card-body pb-1">
        <div class="row">
            <div class="col-md-6">
                <p class="card-text m-1 col-md-6"><span class="fw-bold">Name :</span> {{center_head_name}}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text m-1 col-md-6"><span class="fw-bold">Gender :</span> {{center_head_gender}}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <p class="card-text m-1"><span class="fw-bold">Email ID :</span> {{center_head_email_id}}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text m-1"><span class="fw-bold">Contact Number :</span>
                    {{center_head_contact_number}}</p>
            </div>
        </div>


        <p class="card-text m-1"><span class="fw-bold">Address :</span> {{center_head_address}}</p>

        <p class="card-text m-1"><span class="fw-bold">Status : &nbsp;</span>
            <span [ngClass]="
                center_head_data_status === ActiveInactiveStatus.ACTIVE ? 'text_card_success' :
                center_head_data_status === ActiveInactiveStatus.INACTIVE ? 'text_card_danger' : 'text_card_idle'
            ">{{ GetDataStatusLabel(center_head_data_status) }}
            </span>
        </p>

        <div class="d-flex w-100 justify-content-between mt-3 mb-4">
            <button class="btn btn-primary btn-sm me-3" [disabled]="matProgressBarVisible"
                (click)="ViewFranchisePhoto(FranchiseDocumentName.CENTER_HEAD_PHOTO)">Center Head<br>Photo
                <fa-icon [icon]="faEye"></fa-icon>
            </button>

            <button class="btn btn-primary btn-sm" [disabled]="matProgressBarVisible"
                (click)="ViewFranchisePhoto(FranchiseDocumentName.CENTER_HEAD_SIGNATURE)">Center Head<br>Signature
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>

        <h5 class="text-center mb-3" *ngIf="is_photo_loaded">{{center_head_documnt_display_header}}</h5>

        <div class="center_head_image">
            <img *ngIf="is_photo_loaded" src="{{center_head_documnt_photo}}" class="center_head_image_width">
        </div>

        <fa-icon *ngIf="is_photo_loaded" class="center_head_image_btn center_head_image_download_btn"
            matTooltipPosition="above" matTooltip="Download" [icon]="faFileDownload"
            (click)="DownloadFranchisePhoto()"></fa-icon>

        <fa-icon *ngIf="is_photo_loaded" class="center_head_image_btn center_head_image_close_btn"
            matTooltipPosition="above" matTooltip="Close Photo" [icon]="faClose"
            (click)="CloseFranchisePhoto()"></fa-icon>
    </div>

    <div class="card-footer text-end">
        <button id="alert_button_element" class="btn btn-secondary btn-sm" mat-button mat-dialog-close>Close</button>
    </div>
</div>