.center_head_image{
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
}

.center_head_image_width{
    width: 100%;
}

.center_head_image_download_btn{
   float: right;
   cursor: pointer;
   font-size: 1.3rem;
}