<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container mt-4">
    <div class="header text-center">
        <h2>Register Student</h2>
    </div>

    <div class="row mb-3 mt-2">
        <div class="col-12 col-md-6 mb-2" style="margin-top: -0.5rem;">
            <div class="form-group mt-2">
                <label for="courseName">Student Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-1" [(ngModel)]="student_name" required />
            </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="form-group mt-2">
                <app-custom-date-picker [placeholder]="'Student Date of Birth'"
                    (dateChanged)="onDateSelected($event)"></app-custom-date-picker>
            </div>
        </div>
    </div>


    <button [disabled]="matProgressBarVisible || !isValid()" class="btn btn-primary btn-sm float-end mt-3"
        (click)="submit()">Submit</button>
</div>