th,
td {
    padding: 0.1rem 0.2rem !important;
}

.table_header_background {
    background-color: var(--light);
}

.btn_cursor_pointer {
    cursor: pointer;
}

.overflow-auto {
    overflow: auto;
}

::ng-deep .cdk-overlay-pane,
::ng-deep .mat-mdc-select-panel-above {
    background-color: var(--light);
}

::ng-deep .mdc-floating-label {
    padding-left: 10px !important;
}

::ng-deep .mat-mdc-select {
    padding: 0px 10px !important;
    /* margin-bottom: -6px; */
}

.wallet_balance {
    background-color: var(--default-theme);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    float: right;
}