.server_container_img {
    max-height: 15rem;
    object-fit: contain;
}

.progress-bg {
    z-index: 1;
    transition: width 0.4s ease;
    border-radius: inherit;
}

.card-body {
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}