<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>
<div class="container">
    <div class="row justify-content-center mt-3 mx-2">
        <div class="col-md-10 mx-auto border rounded shadow-sm bg-light">
            <div class="d-flex flex-column flex-md-row justify-content-md-around align-items-center p-3">
                <img src="./icon/database_server.svg" alt="Server Icon" class="img-fluid server_container_img">

                <h1 class="mt-4 text-center m-3">Server Status</h1>

                <div class="d-flex flex-column justify-content-center text-md-start text-center">
                    <div class="mb-1 mt-1">
                        <strong>Status: </strong> <strong
                            [ngClass]="statusClassMap[serverStatus]">{{serverStatus}}</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Response Time : </strong> <span class="text-muted">{{serverResponseTime}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Uptime : </strong> <span class="text-muted">{{serverUptime}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Platform : </strong> <span class="text-muted">{{serverPlatform}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>CPU Load : </strong> <span class="text-muted">{{serverCpuLoad}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Available RAM : </strong> <span class="text-muted">{{serverMemoryFree}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Total RAM : </strong> <span class="text-muted">{{serverMemoryTotal}}</span>
                    </div>
                    <div>
                        <strong>Time : </strong> <span class="text-muted">{{currentTime}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2 class="m-4 text-center">Databases</h2>
    <div class="container mt-4">
        <div class="row g-3">
            <div *ngFor="let item of schemaDetails" class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card shadow-sm border-1 text-center h-100">
                    <div class="card-body p-3 d-flex align-items-center justify-content-center">
                        <span class="fw-semibold">{{ item.schemaName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4 mb-4" *ngIf="!isBackupStarted">
        <button class="custom-button1" (click)="StartBackup()">Start Database Backup</button>
    </div>

</div>