@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* -webkit-user-select: none; */
    /* user-select: none; */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    animation: transitionIn 0.75s;
    font-family: "Noto Sans", sans-serif !important;
    overflow-x: hidden;
    max-width: 100%;
    background-color: var(--light);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --default-theme: #094250;
    --default-theme-hover: #0d5f73;
    --default-theme-hover2: #11748d;
    --black: #000000;
    --white: #ffffff;
    --light: #f1f1f1;
    --light1: #f2f2f2;
    --success: #2abe05;
    --failed: #fd0000;
    --warning: #f1b100;
    --light-blue: #007bff;
}

.custom-button1 {
    background-color: var(--default-theme);
    border: none;
    color: #ffffff;
    padding: 0.7rem 1rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.custom-button1:hover {
    background-color: var(--default-theme-hover);
}

.matProgressBar {
    border-radius: 50px;
    color: var(--default-theme);
}

@media (max-width: 768px) {
    .custom-button1 {
        font-size: 0.8rem;
    }
}