<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container w-100 mb-3">
    <h2 class="m-4 text-center">Pay Wallet</h2>

    <div class="row mb-3 mt-2">
        <div class="col-12 col-md-6 mb-2" *ngIf="userRole === UserRole.MASTER || userRole === UserRole.ADMIN">
            <app-custom-single-select-searchable-dropdown [options]="available_franchises"
                [ariaLabel]="'Select Franchise'" [selectedOptions]="null"
                (selectionChange)="handleFranchiseSelection($event)">
            </app-custom-single-select-searchable-dropdown>
        </div>
    </div>

    <div class="row mb-3 mt-2 d-flex align-items-center">
        <div class="col-12 col-md-6 mb-2">
            <div class="form-group mt-2">
                <label for="courseName">Recharge Amount<span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-1" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recharged_wallet_balance" required />
            </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="form-group mt-2">
                <label for="courseName">Available Amount</label>
                <input type="text" class="form-control mb-1" [ngModelOptions]="{standalone: true}" [disabled]="true"
                    [(ngModel)]="existing_wallet_balance" required />
            </div>
        </div>
    </div>
</div>