<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container w-100 mb-3">
    <h2 class="m-4 text-center">Recharge Wallet</h2>

    <div class="row mb-3 mt-2 d-flex justify-content-between">
        <div class="col-12 col-md-6 mb-2">
            <app-custom-single-select-searchable-dropdown
                *ngIf="userRole === UserRole.MASTER || userRole === UserRole.ADMIN" [options]="available_franchises"
                [ariaLabel]="'Select Franchise'" [selectedOptions]="null"
                (selectionChange)="handleFranchiseSelection($event)">
            </app-custom-single-select-searchable-dropdown>

            <div class="form-group mt-2">
                <label for="courseName">Available Amount</label>
                <input type="number" class="form-control mb-1" [ngModelOptions]="{standalone: true}" [disabled]="true"
                    [(ngModel)]="total_wallet_balance" required />
            </div>

            <div class="form-group mt-2">
                <label for="courseName">Recharge Amount<span class="text-danger">*</span></label>
                <input type="number" class="form-control mb-1" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recharged_wallet_balance" required (ngModelChange)="UpdateTotalWalletBalance()" />
            </div>

            <div class="form-group mt-2">
                <label for="courseName">Transaction ID<span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-1" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="transaction_id" required (ngModelChange)="UpdateTotalWalletBalance()" />
            </div>

            <div class="form-group mt-2">
                <label for="courseName">Transaction Proof (Screenshot)<span class="text-danger">*</span></label>
                <input type="file" #AadharPhotoInput class="form-control" accept="image/jpeg,image/jpg,image/png"
                    (change)="handleTransactionProofSelected($event)">
            </div>

            <div class="form-group mt-4 d-flex justify-content-end">
                <button [disabled]="matProgressBarVisible || isNotValid()" class="btn btn-primary btn-sm"
                    (click)="submit()">Submit</button>
            </div>

            <div class="form-group mt-2 d-flex flex-column align-items-center mt-4 mb-4 payment_details">
                <span>Scan this QR code to recharge wallet</span>
                <span>Or</span>
                <span>Pay directly into bank account.</span>

                <br>

                <span>A/C No. : {{EducareFranchiseWalletRechargeBankDetails.ACCOUNT_NUMBER}}</span>
                <span>A/C Holder's Name : {{EducareFranchiseWalletRechargeBankDetails.ACCOUNT_NAME}}</span>
                <span>Branch : {{EducareFranchiseWalletRechargeBankDetails.BRANCH_NAME}}</span>
                <span>IFSC : {{EducareFranchiseWalletRechargeBankDetails.IFSC_CODE}}</span>
                <span>A/C Type : {{EducareFranchiseWalletRechargeBankDetails.ACCOUNT_TYPE}}</span>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-2 d-flex justify-content-center align-items-center">
            <img *ngIf="is_qr_loaded" src="{{franchise_wallet_recharge_qr_code}}" class="qr_code_style">
        </div>
    </div>
</div>