<div class="container">
  <h2 class="m-4 text-center">Manage Franchises</h2>

  <div class="w-100 d-flex justify-content-between mb-3">
    <input matInput (keyup)="applyFilter($event)" #input class="form-control w-25" placeholder="Search items" />

    <div class="d-flex">
      <button class="btn btn-success me-2">Approve</button>
      <button class="btn btn-danger">Reject</button>
    </div>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="table table-bordered text-center align-middle">
  
    <ng-container matColumnDef="center_name">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Name </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="center_contact_number">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Contact Number </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_contact_number }} </td>
    </ng-container>
  
    <ng-container matColumnDef="center_email_id">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Email ID </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_email_id }} </td>
    </ng-container>
  
    <ng-container matColumnDef="center_category">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Category </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_category }} </td>
    </ng-container>
  
    <ng-container matColumnDef="center_type">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Type </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_type }} </td>
    </ng-container>
  
    <ng-container matColumnDef="center_address">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Address </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.center_address }} </td>
    </ng-container>
  
    <ng-container matColumnDef="data_status">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Data Status </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ franchise.data_status }} </td>
    </ng-container>
  
    <ng-container matColumnDef="is_approved">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Approval Status </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> Not Approved </td>
    </ng-container>
  
    <ng-container matColumnDef="approve_or_reject">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Approve/Reject </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> <input type="checkbox"> </td>
    </ng-container>
  
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold fs-6 table_header_background"> Created At </th>
      <td mat-cell *matCellDef="let franchise" class="text-center"> {{ FormatDateTime(franchise.created_at) }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="align-middle"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="align-middle"></tr>
  
    <tr class="mat-row text-center" *matNoDataRow>
      <td class="mat-cell" colspan="100%">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>
  
  <mat-paginator [length]="totalCount" [pageSize]="page_size" [pageSizeOptions]="[2, 5, 10, 20]"></mat-paginator>
</div>
