.table {
    padding: 0.2rem !important;
}

.table_header_background {
    background-color: var(--light);
}

.btn_cursor_pointer {
    cursor: pointer;
}

.overflow-auto {
    overflow: auto;
}

/* Horizontal scrollbar styles */
.overflow-auto::-webkit-scrollbar {
    height: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}
