.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.gender_franchise {
    margin-bottom: -2rem;
}

::ng-deep .selected-step-label {
    background-color: var(--light-blue) !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    border-radius: 6px !important;
    display: inline-block;
}

.stepper_button_of_middle {
    margin-right: 1rem;
}

::ng-deep .mat-step-icon {
    background-color: var(--light-blue) !important;
    color: var(--white) !important;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}